	<h3 class="row center" id="learn">Learn more about our organization</h3>
	<div class="row center"><%= link_to "About Us", '#', class: "btn btn-default", id: "about" %></div>
	<iframe width="620" height="360" id="vid" src="//www.youtube.com/embed/OgenqJIQ28s?feature=player_embedded" frameborder="0" allowfullscreen></iframe>