<div id="advert">
<div class="row" id="ad_button_pad"><%= link_to "Advertise!", '#', class: "btn btn-block btn-success pull-right", id: "ad_button" %></div>
<h4>LEARN ABOUT ADVERTISING WITH US!</h4>
</div>
