<div><h1>2013-2014 Season</h1></div>
<div class="row" id="season_pics">
	<div class="span2"><%= link_to image_tag('Home/cuckoos_nest_logo.jpg', alt: 'Cuckoo'), '#' %></div>
	<div class="span2"><%= link_to image_tag('Home/fiddler_edit.jpg', alt: 'fiddler'), '#' %></div>
	<div class="span2"><%= link_to image_tag('Home/SpellingBee.jpg', alt: 'spell'), '#' %></div>
	<div class="span2"><%= link_to image_tag('Home/shorts_edit.jpg', alt: 'shorts'), '#' %></div>
</div>