<div class="center hero-unit">
	<h1>Hillsborough High School Theatre</h1></br>
	<h2>Create your account now!</h2>
	<%= link_to "Create my account", signup_path, class: "btn btn-large btn-primary" %>
</div>