<h3>Check us out on</h3>

<div class="row">
	<div class="span1"><%= link_to image_tag("Home/shapeimage_1.png", alt: "youtube"), href="http://www.youtube.com/user/HHSTheatre?feature=watch", target: '_blank' %></div>
	<div class="span1"></div>
	<div class="span1"><%= link_to image_tag("Home/Instagram-Logo-with-Black-Background.jpg", atl: "Intsa"), href="http://instagram.com/hillsboroughhstheatre/", target: '_blank' %></div>
</div>
<div class="row">
	<div class="span1"><%= link_to image_tag("Home/facebook-logo-style-360.jpg", alt: "fb"), href="https://www.facebook.com/pages/HHS-Theatre/167430880003977", target: '_blank' %></div>
	<div class="span1"></div>
	<div class="span1"><%= link_to image_tag("Home/twitter-logo-black.jpg", alt: "twitter"), href="https://twitter.com/HHS_Theatre1", target: '_blank' %></div>
</div>

