<div class="row">
	<div class="span2"><%= link_to image_tag("Home/buytix1.jpg", alt: "buytix"), href: "https://www.showtix4u.com/boxoffice.php?submit=Search+for+Events&begin=1542968&current_client=025700110622724&ts=1346545631", target: '_blank' %></div>
</div>