<% provide(:title, 'Contact') %>

<center><h1 id="more">For more information</br>
	please contact us at</h1>
</center>
<h4>
	<div class="row" id="address">
		<div class="center">
			Hillsborough High School</br>
			466 Raider Boulevard</br>
			Hillsborough, NJ 08844
		</div>
	</div>
</h4>
<h3>
	<ul id="contact">
		<li>Email: hhstheatre.org</li>
		<li>Phone: (908) 431-6600 x.2099</li>
	</ul>
</h3>
