@import "bootstrap";

$divideWhite: #FFFFED;
$textGray: #E2E2E2;
$easyYellow: #FFFF33;
$darkYellow: #E8E000;
$darkRed: #AC0000;
$lightRed: #E60000;

@mixin box_sizing{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}


/* Universal */

html{

	overflow-y: scroll;

	body{
		padding-top: 60px;
		background-color: #000000;
		color: white;
	}

	.hero-unit{
		background-color: $darkRed;

		h1, h2{
			color: $easyYellow;
			text-align: center;
		}

		h1{
			font-size: 2.7em;
			margin-bottom: -30px;
			letter-spacing: -1px;
		}

		h2{
			font-weight: normal;
			letter-spacing: normal;
			font-size: 1.5em;
			margin-bottom: 35px;
		}
	}
}

.btn:first-child{
	background-image: linear-gradient(to bottom, $darkRed, #9B0000);
	color: $easyYellow;
	border-color: $darkRed;
	background-color: $darkRed;

	&:hover, &:focus{
		background-color: #9B0000;
		color: $easyYellow;
	}
}



section{
	overflow: auto;
}

textarea{
	resize: vertical;
}

.center{
	text-align: center;
	padding-bottom: 35px;
	display: block;
}

.navbar{
	
	background-color: $darkRed;

	.nav li.dropdown > .dropdown-toggle b.caret{
		border-top-color: $easyYellow;
		border-bottom-color: $easyYellow;
	}

	.nav li.dropdown > .dropdown-toggle:hover b.caret{
		border-top-color: $easyYellow;
		border-bottom-color: $easyYellow;
	}

	.navbar-inner{
		background: $darkRed;
		border-bottom: $darkRed;
		font-color: $easyYellow;
		background-color: $darkRed;

		.nav{
			li{
				a{
					color: $easyYellow;	
					text-shadow: none;
					&:hover{
						color: $easyYellow;	
						text-decoration: underline;
					}
				}
			}

			.dropdown-menu{

				background-color: $darkRed;

				li{
					a{
						color: $easyYellow;
						&:hover{
							background-color: $easyYellow;
							background-image: none;
							color: $darkRed;
						}
					}
				}
			}
		}
	}
}





/*typography*/
h1, h2, h3, h4, h5, h6{
	line-height: 1;
}

h1{
	font-color: $easyYellow;
	font-size: 2em;
}

h5{
	color: textGray;
}

/* header */

#logo{
	float: left;
}

/* footer */

footer{
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid $divideWhite;
	color: $grayLight;

	a{
		color: #888888;

		&:hover{
			color: $textGray;
			text-decoration: none;
		}
	}

	small{
		float: left;
		font-size: 1.1em;
	}

	ul{
		float: right;
		list-style: none;

		li{
			float: left;
			margin-left: 10px;
		}
	}
}

/*miscellaneous*/

.debug_dump{
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}

.row{
	padding-bottom: 50px;
}

aside{
	
	.row{
		padding-bottom: 0px;
	}
	

	text-align: center;

	h3{
		font-size: 1.2em;
		letter-spacing: -5;
	}

	section{
		padding-bottom: 30px;
	}
}

/*Containers*/


/*Home Page*/

#season_pics{
	.span2{
		height: 107px;
	}
}

#ad_button_pad{
	padding-bottom: 5px;
}

#ad{
	overflow: visible;
}

#ad_button{
	letter-spacing: 2px;
	font-size: 30px;
	line-height: 40px;
	border: none;

	background-image: linear-gradient(to bottom, $darkYellow, #B1AB0C);
	color: $darkRed;
	border-color: $darkYellow;
	background-color: $darkYellow;

	&:hover, &:focus{
		background-color: #B1AB0C;
		color: #CE0000;
	}
}

#advert{
	h4{
		padding-bottom: 35px;
		letter-spacing: 2px;
	}
}

#current{
	padding-bottom: 60px;
}

.learn{
	float: none;
	padding-bottom: 5px;
}

/*Contact Page*/
#contact{
	list-style: none;


	li{
		padding: 10px;
	}
}

#address{
	padding-bottom: 20px;
}

#more{
	padding-top: 60px;
	padding-bottom: 60px;
	color: $easyYellow;
}